/*
@font-face {
font-family: 'Cairo Regular';
font-style: normal;
font-weight: normal;
src: local('Cairo Regular'), url('../fonts/Cairo-Regular.woff') format('woff');
}


@font-face {
font-family: 'Cairo ExtraLight';
font-style: normal;
font-weight: normal;
src: local('Cairo ExtraLight'), url('../fonts/Cairo-ExtraLight.woff') format('woff');
}


@font-face {
font-family: 'Cairo Light';
font-style: normal;
font-weight: normal;
src: local('Cairo Light'), url('../fonts/Cairo-Light.woff') format('woff');
}


@font-face {
font-family: 'Cairo SemiBold';
font-style: normal;
font-weight: normal;
src: local('Cairo SemiBold'), url('../fonts/Cairo-SemiBold.woff') format('woff');
}


@font-face {
font-family: 'Cairo Bold';
font-style: normal;
font-weight: normal;
src: local('Cairo Bold'), url('../fonts/Cairo-Bold.woff') format('woff');
}


@font-face {
font-family: 'Cairo Black';
font-style: normal;
font-weight: normal;
src: local('Cairo Black'), url('../fonts/Cairo-Black.woff') format('woff');
} */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
    outline: #fcb813 !important;
    border-color: #fcb813 !important;
}

button:focus,
a:focus {
    box-shadow: none !important;
}

body {
    background: #f9f9f9;
    font-family: 'Cairo', sans-serif;
}


/* header */


/* top header */

.top-header {
    height: 35px;
    background: #fcb813;
    line-height: 35px;
}

.top-header p {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}


/* middle header */

.middle-header {
    background: #FFF;
    border-bottom: 1px solid #DDD;
    min-height: 90px;
}

.middle-header .logo {
    text-align: center;
}

.middle-header .logo img {
    width: 100px;
}

.middle-header .search-box {
    margin: 25px 0;
    border: 1px solid #d1d3d4;
    display: flex;
    height: 35px;
    line-height: 34px;
    font-weight: 600;
}

.middle-header .filter-box {
    width: 160px;
    text-align: center;
    cursor: pointer;
    color: #666;
    font-size: 12px;
}

.middle-header .search-box input {
    border: 0;
    font-size: 12px;
    padding: 0 10px;
    width: calc(100% - 120px);
    font-weight: 600;
    border-right: 1px solid #dedede;
}

.middle-header .search-box input:focus,
.middle-header .search-box input:active,
.middle-header .search-box .btn-search:focus {
    outline: 0;
    box-shadow: none;
}

.middle-header .search-box .btn-search {
    width: 60px;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: center;
    transition: 0.3s;
    font-size: 18px;
    cursor: pointer;
}

.middle-header .search-box .btn-search:focus,
.middle-header .search-box .btn-search:hover {
    background: #fcb813;
    color: #fff;
}

.middle-header .search-categ {
    position: absolute;
    max-width: 260px;
    top: 60px;
    right: 15px;
    z-index: 9999;
    padding: 15px;
    border: 1px solid #ccc;
    display: none;
    background: #fff;
    max-height: 200px;
    overflow-x: hidden;
    min-width: 220px;
    border-top: 0;
}

.middle-header .search-categ .head div {
    cursor: pointer;
    color: #999999;
    font-weight: 600;
    font-size: 14px;
    height: 15px;
    line-height: 15px;
    margin-bottom: 5px;
}

.middle-header .search-categ .head {
    display: flex;
}

.middle-header .search-categ ul li {
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}

.middle-header .search-categ ul li:last-child {
    border-bottom: none;
}

.middle-header .search-categ ul input {
    margin-left: 10px;
}

.middle-header .search-categ ul p {
    position: relative;
    display: flex;
    line-height: 31px;
    font-size: 14px;
    height: 15px;
}

.middle-header .search-categ ul p input {
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.middle-header .search-categ ul p .plus::after {
    content: "\ef9a";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: IcoFont;
    width: 7px;
    height: 9px;
    line-height: 9px;
    font-size: 8px;
}

.middle-header .search-categ ul p .plus::before {
    content: "\efc2";
    display: block;
    font-family: IcoFont;
    font-size: 7px;
    position: absolute;
    top: 0;
    left: .5px;
    width: 9px;
    height: 9px;
    line-height: 9px;
}

.middle-header .search-categ ul p .minus::before {
    display: none !important;
}

.middle-header .show-cat {
    display: block !important;
}


/* card */

.middle-header a i {
    width: 38px;
    opacity: 0.8;
    border: 1px solid #DDD;
    cursor: pointer;
    height: 38px;
    line-height: 32px;
    text-align: center;
    font-size: 25px;
    color: black;
    vertical-align: middle;
}

.middle-header a span.cart-text {
    font-size: 15px;
    margin-right: 4px;
    font-weight: 500;
    color: #333;
}

.middle-header .nav-icon {
    float: right;
    line-height: 77px;
    margin-left: 20px;
    position: relative;
}

.middle-header .save-products .badge-primary {
    position: absolute;
    top: 13px;
    right: -9px;
    background: #fcb813;
}

.middle-header .cart-header .badge-primary {
    background: #fcb813;
    top: 13px;
    position: absolute;
    right: -7px;
}


/* bottom header */

.bottom-header {
    box-shadow: 0px 7px 7px rgb(0 0 0 / 15%);
    background: #FFF;
    height: 50px;
    position: relative;
    line-height: 50px;
}

.bottom-header ul li {
    display: inline-block;
}

.bottom-header ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #333;
}

.bottom-header ul li img {
    width: 27px;
    height: 27px;
    object-fit: cover;
    margin-left: 3px;
}

.bottom-header ul li span {
    font-size: 14px;
    font-weight: 600;
}


/* ////// footer */

footer {
    background: #FFF;
    padding: 25px 0;
    box-shadow: 0 -4px 10px rgb(0 0 0 / 20%);
    color: #333;
    margin-top: 45px;
}

footer .column .column-header h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 11px;
}

footer .column .column-body li {
    margin-bottom: 5px;
}

footer .column .column-body li a {
    color: #333;
}

footer .column .column-body li i {
    color: #fcb813;
    margin-left: 5px;
    vertical-align: inherit;
}

footer .column .column-body .input-group {
    width: 80%;
}

footer .column .column-body p {
    margin-bottom: 10px;
}

footer .column .column-body input {
    border-radius: 20px;
}

footer .column .column-body button {
    border-radius: 20px 0px 0 20px !important;
    font-weight: 600;
}

footer .column .column-body button:focus,
footer .column .column-body button:hover {
    background-color: #fcb813;
    border-color: #fcb813;
}


/* home page */

header.home {
    position: relative;
}

header.home .single-slider .item img {
    height: 500px;
    width: 85%;
    object-fit: cover;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
}

header.home .slick-dots li {
    margin: 0 8px;
    width: 45px;
    height: 13px;
}

header.home .slick-dots li button:before {
    width: 45px;
    height: 13px;
    top: 10px;
    background: #afafaf;
    content: '';
    border-radius: 20px;
}

header.home .slick-dots li.slick-active button:before {
    background: #005fa5;
}

header.home:hover .next,
header.home:hover .prev {
    opacity: 1;
}

header.home:hover .next {
    left: 120px;
}

header.home:hover .prev {
    right: 120px;
}

header.home .next,
header.home .prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #FFF;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

header.home .prev {
    right: 100px;
}

header.home .next {
    left: 100px;
}


/* global  */

.section-title h3 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 600;
}


/* best-sales-slider */

.best-sales .best-sales-slider,
.most-watched .most-watched-slider,
.new-products .new-products-slider {
    width: 95%;
    margin: auto;
}

.best-sales .best-sales-slider .card,
.most-watched .most-watched-slider .card,
.new-products .new-products-slider .card {
    padding: 7px;
    border-radius: 10px;
}

.best-sales .best-sales-slider .card img,
.most-watched .most-watched-slider .card img,
.new-products .new-products-slider .card img {
    height: 220px;
    border: 1px solid #ddd;
    border-radius: 2px;
    object-fit: cover;
}

.best-sales .best-sales-slider .card-body,
.most-watched .most-watched-slider .card-body,
.new-products .new-products-slider .card-body {
    padding: 3px;
}

.best-sales .best-sales-slider .card-body .card-title a,
.most-watched .most-watched-slider .card-body .card-title a,
.new-products .new-products-slider .card-body .card-title a {
    font-size: 17px;
    margin-top: 5px;
    color: #333;
    font-weight: 700;
}

.best-sales .best-sales-slider .card-body .card-title a:hover,
.most-watched .most-watched-slider .card-body .card-title a:hover,
.new-products .new-products-slider .card-body .card-title a:hover {
    color: #005fa5;
}

.best-sales .best-sales-slider .card-body .old-price,
.most-watched .most-watched-slider .card-body .old-price,
.new-products .new-products-slider .card-body .old-price {
    text-decoration: line-through;
    margin-bottom: 3px;
}

.best-sales .best-sales-slider .card-body .new-price,
.most-watched .most-watched-slider .card-body .new-price,
.new-products .new-products-slider .card-body .new-price {
    margin-bottom: 10px;
}

.best-sales .best-sales-slider .card-body a.add-to-card,
.most-watched .most-watched-slider .card-body a.add-to-card,
.new-products .new-products-slider .card-body a.add-to-card {
    background: #005fa5;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}

.best-sales .best-sales-slider .slick-slide,
.most-watched .most-watched-slider .slick-slide,
.new-products .new-products-slider .slick-slide {
    margin-left: 20px;
}

.best-sales,
.most-watched,
.new-products {
    position: relative;
}

.best-sales:hover .next,
.best-sales:hover .prev,
.most-watched:hover .next,
.most-watched:hover .prev,
.new-products:hover .next,
.new-products:hover .prev {
    opacity: 1;
}

.best-sales:hover .next,
.most-watched:hover .next,
.new-products:hover .next {
    left: 60px;
}

.best-sales:hover .prev,
.most-watched:hover .prev,
.new-products:hover .prev {
    right: 43px;
}

.best-sales .next,
.best-sales .prev,
.most-watched .next,
.most-watched .prev,
.new-products .next,
.new-products .prev {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #FFF;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.best-sales .prev,
.most-watched .prev,
.new-products .prev {
    right: 10px;
}

.best-sales .next,
.most-watched .next,
.new-products .next {
    left: 28px;
}


/* can-enjoy */

.can-enjoy .section-body .item {
    width: 100%;
    background: #005fa5;
    margin-bottom: 40px;
    border-radius: 20px;
    color: #FFF;
    font-size: 31px;
    height: 135px;
    padding: 0 25px;
    text-align: center;
    line-height: 135px;
}

.can-enjoy .section-body .item img {
    width: 80px;
}

.can-enjoy .section-body .item span.request {
    display: block;
    float: left;
    width: 75%;
    line-height: 47px;
    margin-top: 16px;
}

.can-enjoy .container-fluid {
    padding: 0 24px 0 42px;
}


/* search-about */

.search-about .section-body img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 15px;
}

.search-about .section-body p {
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
}

/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/*  product-details */

.product-details{
    padding: 30px 30px;
}
.product-details  .images-slider {
    width:100%;
    min-width: 256px;
}
.product-details  .images-slider .full-img .swiper-container{
    border:1px solid #DDD !important;
    cursor:zoom-in;
}
.product-details  .images-slider .all-img .swiper-slide{
    border:1px solid #DDD !important;
}
.product-details  .images-slider .full-img .swiper-container img {
    object-fit: contain !important;
    background: #fff;
}
.product-details  .images-slider .full-img , .product-details  .images-slider .all-img{
    padding: 5px;
}
.product-details  .images-slider .all-img .swiper-container{
   cursor: grabbing;
}
.product-details  .images-slider .full-img .swiper-container:hover > .swiper-button-next.swiper-button-black ,
.product-details  .images-slider .full-img .swiper-container:hover > .swiper-button-prev.swiper-button-black{
    opacity: 1;
}
.product-details .swiper-button-next:after,.product-details .swiper-button-prev:after{
    font-size: 35px !important;
}
.product-details .swiper-button-next.swiper-button-black,.product-details .swiper-button-prev.swiper-button-black{
--swiper-navigation-color: #4e4e4e !important;
opacity: 0.1;
transition: 0.3s;
}
.lg-outer #lg-share , #lg-actual-size , #lg-counter ,#lg-download{
    display: none !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: #005fa5;
}

.swiper-container {
    width: 100%;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
   height: 100%;
   position: relative;
}
.swiper-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px 10px;
    color: #FFF;
    background: #7f42db;
    outline: 2px solid #FFF;
    outline-offset: 3px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.swiper-container .caption{
    position: absolute;
    z-index: 999;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #1e2731;
}

.swiper-container .caption h2{
    text-align: right;
    color: #FFF;
    margin: 0 20px;
    line-height: 60px;
}
.swiper-container .caption .slider-button{
    background: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    margin: 12px 20px;
    padding: 2px 30px;
    font-size: 21px;
    cursor: pointer;
    transition: 0.5s;
    float: left;
}

.swiper-container .caption .slider-button:hover{
    /* background-image: linear-gradient(16deg, #ff005a 0%, #ff5d2d 64%, #ffba00 100%); */
    border-image-source:linear-gradient(100deg, rgba(67,203,255,1) 0%, rgba(151,8,204,1) 99%);
    background: -moz-linear-gradient(100deg, rgba(67,203,255,1) 0%, rgba(151,8,204,1) 99%);
    background: -webkit-linear-gradient(100deg, rgba(67,203,255,1) 0%, rgba(151,8,204,1) 99%);
    background: linear-gradient(100deg, rgba(67,203,255,1) 0%, rgba(151,8,204,1) 99%);
    border-image-slice: 1;
}


.popular-products .card,.filter-product  .card{
    padding: 7px;
    border-radius: 10px;
}

.popular-products .card img ,.filter-product  .card img {
    height: 220px;
    border: 1px solid #ddd;
    border-radius: 2px;
    object-fit: cover;
}

.popular-products .card-body, .filter-product  .card-body {
    padding: 3px;
}


.popular-products .card-body .card-title a , .filter-product  .card-body .card-title a {
    font-size: 17px;
    margin-top: 5px;
    color: #333;
    font-weight: 700;
}

.popular-products .card-body .card-title a:hover , .filter-product  .card-body .card-title a:hover  {
    color: #005fa5;
}

.popular-products .card-body .old-price,.filter-product  .card-body .old-price  {
    text-decoration: line-through;
    margin-bottom: 3px;
}


.popular-products .card-body .new-price ,.filter-product  .card-body .new-price{
    margin-bottom: 10px;
}


.popular-products .card-body a.add-to-card ,.filter-product  .card-body a.add-to-card{
    background: #005fa5;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 10px;
}
.product-details .old-price {
    text-decoration: line-through;
}
.product-details .new-price{
    margin-top: 15px;
}
.product-details .new-price .alert.alert-warning{
    background: #fcb813;
    font-size: 17px;
    font-weight: 700;
    color: #FFF;
    padding: 3px 10px;
    border-radius: 15px;
    margin: 0 10px;
}
.product-details .add-to-cart{
    font-size: 20px;
    padding: 5px 25px;
    background: #005fa5;
    border-radius: 11px;
    border: 0;
}

/* ************** */
/* products page */
/* ************** */

.filter-product{
    padding: 30px 0;
}
.filter-product .header-nav{
    height: 60px;
    background: #FFF;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
    margin-top: 10px;
}
.filter-product .header-nav select{
    border-radius: 20px;
    height: 40px;
    margin-top: 9px;
    padding: 0 10px;
    border: 1px solid #fcb813; 
}
.filter-product .header-nav select:focus{
    outline: 0;
    box-shadow: none;
}


}
